@font-face {
  font-family: "NazareHeavy";
  src: url(../fonts/Nazare-Heavy.ttf) format("truetype");
}

@font-face {
  font-family: "BigCityGroProLight";
  src: url(../fonts/BigCityGrotesquePro-Light.ttf) format("truetype");
}

@font-face {
  font-family: "BigCityGroProMedium";
  src: url(../fonts/BigCityGrotesquePro-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "BigCityGroProBold";
  src: url(../fonts/BigCityGrotesquePro-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "BigCityGroProBlack";
  src: url(../fonts/BigCityGrotesquePro-Black.ttf) format("truetype");
}

$font-main: "BigCityGroProLight";
$font-medium: "BigCityGroProMedium";
$font-bold: "BigCityGroProBold";
$font-black: "BigCityGroProBlack";
$font-special: "NazareHeavy";

$light-color: #fde5d1;
$semi-light-color: #efefef;
$dark-color: #2b2b2b;
$semi-dark-color: #5d5f65;
$new-semi-dark-color: #ff8c51;
$special-color: #ff6c39;
$new-special-color: #ffa21a;
$dark-yellow-color: #ff8b00;
$overlay: linear-gradient(rgba(255, 108, 57, 0.7), rgba(255, 108, 57, 0.7));
$section-padding: 9.2rem 9rem;
$section-padding-small: 2rem 9rem;
$section-padding-medium: 4.5rem 9rem 9rem 9rem;
$section-padding-one: 9.2rem;

@mixin for-mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-tablet {
  @media (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}
@mixin for-desktop {
  @media (min-width: 1024px) and (max-width: 1215px) {
    @content;
  }
}
@mixin for-widescreen {
  @media (min-width: 1216px) and (max-width: 1407px) {
    @content;
  }
}

@mixin for-fullhd {
  @media (min-width: 1408px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: $font-main;
}

html {
  scroll-behavior: smooth;
}

h2.title {
  color: $light-color;
  font-family: $font-special;
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.375;

  &.title-dark {
    color: $dark-color;
  }
}

.button.is-special {
  background-color: $special-color;
  border: 1px solid $special-color;
  color: $light-color;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0;
  font-family: $font-bold;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: transparent;
    color: $special-color;
  }

  &.is-outline {
    background-color: transparent;
    border: 2px solid $light-color;
    padding: 2rem 4rem;

    &:hover {
      background-color: $light-color;
      color: $special-color;
    }
  }
}

.hero {
  background: $overlay, url(../img/img_hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 102vh;

  .navbar-brand {
    transition: all 0.3s ease-in-out;
    align-items: center;

    img {
      max-width: 100%;
      max-height: 5rem;
    }

    &:hover {
      margin-left: 1rem;
    }
  }

  .navbar-burger {
    span {
      background-color: $light-color;
      height: 3px;
      width: 24px;
    }

    &:hover {
      background-color: transparent;
    }
  }

  .navbar-menu {
    align-items: center;
    @include for-mobile {
      background-color: $new-semi-dark-color;
    }

    .navbar-item {
      color: $light-color;
      font-family: $font-medium;
      margin-left: 0.125rem;
      margin-right: 0.125rem;
      padding: 0.5rem 1.75rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: $special-color;
      }

      @include for-mobile {
        text-align: center;
      }
    }
  }

  .content {
    margin-top: 25vh;

    @include for-mobile {
      margin-top: 15vh;
    }
  }

  h1.title {
    text-align: center;
    color: $light-color;
    font-family: $font-special;
    font-size: 4.5rem;
    line-height: 5.875rem;
    font-weight: 900;

    @include for-mobile {
      font-size: 3.5rem;
      line-height: 4.875rem;
    }
  }

  h2.subtitle {
    text-align: center;
    color: $light-color;
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-family: $font-main;
    font-weight: 300;
    width: 40vw;
    margin: 0 auto;

    @include for-mobile {
      width: 90vw;
    }
  }
}

.about {
  background-color: $special-color;
  overflow: hidden;

  .image {
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
    }
  }
  .columns:last-child {
    margin-bottom: 0;
  }

  .column {
    &:first-of-type {
      padding: 5.625rem 8.5rem !important;

      @include for-mobile {
        padding: 24px !important;
      }
    }
  }

  p {
    font-family: $font-main;
    color: $light-color;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.625rem;
    text-align: left;
    margin-bottom: 2.25rem;

    @include for-mobile {
      text-align: center;
    }
  }
}

.price {
  padding: $section-padding;
  background-color: $light-color;

  .columns {
    @include for-mobile {
      display: flex;
      flex-direction: column;
    }
  }

  .column:last-of-type {
    @include for-mobile {
      order: 1;
    }
  }

  .column:first-of-type {
    @include for-mobile {
      order: 2;
    }
  }

  @include for-mobile {
    padding: 24px !important;
  }

  .title {
    color: $special-color;
  }

  p {
    width: 85%;
    margin-left: auto;
    text-align: justify;
    color: $special-color;

    @include for-mobile {
      width: 100%;
    }
  }

  .checkbox {
    color: $special-color;
  }

  .fa-paper-plane {
    margin-right: 1rem;
  }

  .field {
    margin-bottom: 1.125rem;
  }

  .label {
    font-family: $font-bold;
    color: $special-color;
  }

  .input,
  .textarea {
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid $special-color;
    box-shadow: none;
    background-color: transparent;

    &::placeholder {
      color: $new-semi-dark-color;
      opacity: 0.5;
    }
  }

  .button.is-special {
    color: $light-color;

    &:hover {
      color: $special-color;
    }
  }
}

.shop {
  background-color: $special-color;
  padding: $section-padding-small;

  @include for-mobile {
    padding: 24px !important;
  }

  h4.title {
    color: $light-color;
    font-family: $font-bold;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.75rem;

    @include for-mobile {
      line-height: 2.75rem;
      text-align: center !important;
    }
  }

  .fa-shopping-basket {
    margin-right: 2rem;
  }

  .is-flex {
    align-items: center;

    @include for-mobile {
      justify-content: center;
    }

    &:first-of-type {
      justify-content: center;
    }
  }

  .button {
    text-transform: uppercase;
    font-size: 2rem;
  }
}

.menu {
  padding: $section-padding-medium;
  background-color: $new-special-color;

  @include for-mobile {
    padding: 24px !important;
  }

  .title {
    color: $light-color;
  }

  .panel {
    height: 100%;
    box-shadow: 0 0.5em 1em -0.125em rgba(255, 139, 0, 1), 0 0 0 1px rgba(255, 139, 0, 1);
    border-radius: 0;
  }

  .panel,
  .panel-heading {
    background-color: $light-color;
  }

  .panel-heading {
    font-family: $font-bold;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.625rem;
    color: $dark-yellow-color;
  }

  .panel-block {
    justify-content: space-between;
    color: $dark-yellow-color;

    &:not(:last-child) {
      border-bottom: 1px solid $light-color;
    }

    span {
      font-size: 1rem;
      line-height: 1.625rem;
      color: $dark-yellow-color;
      font-family: $font-bold;

      &.tag {
        font-family: $font-bold;
        background-color: transparent;
      }
    }

    &.has-text-centered {
      justify-content: center;
    }
  }
}

.contact {
  background-color: $special-color;
  overflow: hidden;

  .image {
    height: 100%;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  .columns:last-child {
    margin-bottom: 0;
  }

  .column:last-of-type {
    padding: 5rem 6.2rem !important;

    @include for-mobile {
      padding: 24px !important;
    }
  }

  .field.is-grouped.is-grouped-right {
    @include for-mobile {
      justify-content: center;
    }
  }

  form {
    .input,
    .textarea {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      border-bottom: 2px solid $light-color;
      color: $light-color;

      &::placeholder {
        color: $semi-light-color;
        opacity: 0.8;
      }
    }
    .button.is-special {
      background-color: $light-color;
      color: $special-color;
      border: 2px solid $light-color;
      margin-top: 1rem;

      &:hover {
        background-color: transparent;
        color: $light-color;
      }

      .fa-paper-plane {
        margin-right: 1rem;
      }

      @include for-mobile {
        margin: 0 auto;
      }
    }
  }
}

.footer {
  background-color: $light-color;
  color: $special-color;
  padding-top: $section-padding-one;

  @include for-mobile {
    padding-top: 1rem;
  }

  .title {
    color: $special-color;

    @include for-mobile {
      text-align: center;
    }
  }

  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  span {
    margin-top: 7rem;
    font-family: $font-bold;
    display: block;
    text-align: center;

    @include for-mobile {
      margin-top: 4rem;
    }
  }

  p {
    @include for-mobile {
      text-align: center;
    }
  }
}
