@font-face {
  font-family: "NazareHeavy";
  src: url(../fonts/Nazare-Heavy.ttf) format("truetype");
}

@font-face {
  font-family: "BigCityGroProLight";
  src: url(../fonts/BigCityGrotesquePro-Light.ttf) format("truetype");
}

@font-face {
  font-family: "BigCityGroProMedium";
  src: url(../fonts/BigCityGrotesquePro-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "BigCityGroProBold";
  src: url(../fonts/BigCityGrotesquePro-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "BigCityGroProBlack";
  src: url(../fonts/BigCityGrotesquePro-Black.ttf) format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: "BigCityGroProLight";
}

html {
  scroll-behavior: smooth;
}

h2.title {
  color: #fde5d1;
  font-family: "NazareHeavy";
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.375;
}

h2.title.title-dark {
  color: #2b2b2b;
}

.button.is-special {
  background-color: #ff6c39;
  border: 1px solid #ff6c39;
  color: #fde5d1;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0;
  font-family: "BigCityGroProBold";
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button.is-special:hover {
  background-color: transparent;
  color: #ff6c39;
}

.button.is-special.is-outline {
  background-color: transparent;
  border: 2px solid #fde5d1;
  padding: 2rem 4rem;
}

.button.is-special.is-outline:hover {
  background-color: #fde5d1;
  color: #ff6c39;
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 108, 57, 0.7)), to(rgba(255, 108, 57, 0.7))), url(../img/img_hero.jpg);
  background: linear-gradient(rgba(255, 108, 57, 0.7), rgba(255, 108, 57, 0.7)), url(../img/img_hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 102vh;
}

.hero .navbar-brand {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .navbar-brand img {
  max-width: 100%;
  max-height: 5rem;
}

.hero .navbar-brand:hover {
  margin-left: 1rem;
}

.hero .navbar-burger span {
  background-color: #fde5d1;
  height: 3px;
  width: 24px;
}

.hero .navbar-burger:hover {
  background-color: transparent;
}

.hero .navbar-menu {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .hero .navbar-menu {
    background-color: #ff8c51;
  }
}

.hero .navbar-menu .navbar-item {
  color: #fde5d1;
  font-family: "BigCityGroProMedium";
  margin-left: 0.125rem;
  margin-right: 0.125rem;
  padding: 0.5rem 1.75rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero .navbar-menu .navbar-item:hover {
  background: #ff6c39;
}

@media (max-width: 768px) {
  .hero .navbar-menu .navbar-item {
    text-align: center;
  }
}

.hero .content {
  margin-top: 25vh;
}

@media (max-width: 768px) {
  .hero .content {
    margin-top: 15vh;
  }
}

.hero h1.title {
  text-align: center;
  color: #fde5d1;
  font-family: "NazareHeavy";
  font-size: 4.5rem;
  line-height: 5.875rem;
  font-weight: 900;
}

@media (max-width: 768px) {
  .hero h1.title {
    font-size: 3.5rem;
    line-height: 4.875rem;
  }
}

.hero h2.subtitle {
  text-align: center;
  color: #fde5d1;
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-family: "BigCityGroProLight";
  font-weight: 300;
  width: 40vw;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .hero h2.subtitle {
    width: 90vw;
  }
}

.about {
  background-color: #ff6c39;
  overflow: hidden;
}

.about .image {
  height: 100%;
}

.about .image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.about .columns:last-child {
  margin-bottom: 0;
}

.about .column:first-of-type {
  padding: 5.625rem 8.5rem !important;
}

@media (max-width: 768px) {
  .about .column:first-of-type {
    padding: 24px !important;
  }
}

.about p {
  font-family: "BigCityGroProLight";
  color: #fde5d1;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625rem;
  text-align: left;
  margin-bottom: 2.25rem;
}

@media (max-width: 768px) {
  .about p {
    text-align: center;
  }
}

.price {
  padding: 9.2rem 9rem;
  background-color: #fde5d1;
}

@media (max-width: 768px) {
  .price .columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .price .column:last-of-type {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 768px) {
  .price .column:first-of-type {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 768px) {
  .price {
    padding: 24px !important;
  }
}

.price .title {
  color: #ff6c39;
}

.price p {
  width: 85%;
  margin-left: auto;
  text-align: justify;
  color: #ff6c39;
}

@media (max-width: 768px) {
  .price p {
    width: 100%;
  }
}

.price .checkbox {
  color: #ff6c39;
}

.price .fa-paper-plane {
  margin-right: 1rem;
}

.price .field {
  margin-bottom: 1.125rem;
}

.price .label {
  font-family: "BigCityGroProBold";
  color: #ff6c39;
}

.price .input,
.price .textarea {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #ff6c39;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

.price .input::-webkit-input-placeholder,
.price .textarea::-webkit-input-placeholder {
  color: #ff8c51;
  opacity: 0.5;
}

.price .input:-ms-input-placeholder,
.price .textarea:-ms-input-placeholder {
  color: #ff8c51;
  opacity: 0.5;
}

.price .input::-ms-input-placeholder,
.price .textarea::-ms-input-placeholder {
  color: #ff8c51;
  opacity: 0.5;
}

.price .input::placeholder,
.price .textarea::placeholder {
  color: #ff8c51;
  opacity: 0.5;
}

.price .button.is-special {
  color: #fde5d1;
}

.price .button.is-special:hover {
  color: #ff6c39;
}

.shop {
  background-color: #ff6c39;
  padding: 2rem 9rem;
}

@media (max-width: 768px) {
  .shop {
    padding: 24px !important;
  }
}

.shop h4.title {
  color: #fde5d1;
  font-family: "BigCityGroProBold";
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.75rem;
}

@media (max-width: 768px) {
  .shop h4.title {
    line-height: 2.75rem;
    text-align: center !important;
  }
}

.shop .fa-shopping-basket {
  margin-right: 2rem;
}

.shop .is-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .shop .is-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.shop .is-flex:first-of-type {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop .button {
  text-transform: uppercase;
  font-size: 2rem;
}

.menu {
  padding: 4.5rem 9rem 9rem 9rem;
  background-color: #ffa21a;
}

@media (max-width: 768px) {
  .menu {
    padding: 24px !important;
  }
}

.menu .title {
  color: #fde5d1;
}

.menu .panel {
  height: 100%;
  -webkit-box-shadow: 0 0.5em 1em -0.125em #ff8b00, 0 0 0 1px #ff8b00;
          box-shadow: 0 0.5em 1em -0.125em #ff8b00, 0 0 0 1px #ff8b00;
  border-radius: 0;
}

.menu .panel,
.menu .panel-heading {
  background-color: #fde5d1;
}

.menu .panel-heading {
  font-family: "BigCityGroProBold";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.625rem;
  color: #ff8b00;
}

.menu .panel-block {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ff8b00;
}

.menu .panel-block:not(:last-child) {
  border-bottom: 1px solid #fde5d1;
}

.menu .panel-block span {
  font-size: 1rem;
  line-height: 1.625rem;
  color: #ff8b00;
  font-family: "BigCityGroProBold";
}

.menu .panel-block span.tag {
  font-family: "BigCityGroProBold";
  background-color: transparent;
}

.menu .panel-block.has-text-centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact {
  background-color: #ff6c39;
  overflow: hidden;
}

.contact .image {
  height: 100%;
}

.contact .image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.contact .columns:last-child {
  margin-bottom: 0;
}

.contact .column:last-of-type {
  padding: 5rem 6.2rem !important;
}

@media (max-width: 768px) {
  .contact .column:last-of-type {
    padding: 24px !important;
  }
}

@media (max-width: 768px) {
  .contact .field.is-grouped.is-grouped-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact form .input,
.contact form .textarea {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 2px solid #fde5d1;
  color: #fde5d1;
}

.contact form .input::-webkit-input-placeholder,
.contact form .textarea::-webkit-input-placeholder {
  color: #efefef;
  opacity: 0.8;
}

.contact form .input:-ms-input-placeholder,
.contact form .textarea:-ms-input-placeholder {
  color: #efefef;
  opacity: 0.8;
}

.contact form .input::-ms-input-placeholder,
.contact form .textarea::-ms-input-placeholder {
  color: #efefef;
  opacity: 0.8;
}

.contact form .input::placeholder,
.contact form .textarea::placeholder {
  color: #efefef;
  opacity: 0.8;
}

.contact form .button.is-special {
  background-color: #fde5d1;
  color: #ff6c39;
  border: 2px solid #fde5d1;
  margin-top: 1rem;
}

.contact form .button.is-special:hover {
  background-color: transparent;
  color: #fde5d1;
}

.contact form .button.is-special .fa-paper-plane {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .contact form .button.is-special {
    margin: 0 auto;
  }
}

.footer {
  background-color: #fde5d1;
  color: #ff6c39;
  padding-top: 9.2rem;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 1rem;
  }
}

.footer .title {
  color: #ff6c39;
}

@media (max-width: 768px) {
  .footer .title {
    text-align: center;
  }
}

.footer .map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.footer .map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.footer span {
  margin-top: 7rem;
  font-family: "BigCityGroProBold";
  display: block;
  text-align: center;
}

@media (max-width: 768px) {
  .footer span {
    margin-top: 4rem;
  }
}

@media (max-width: 768px) {
  .footer p {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */